@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

body{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.5px;
  }

.custom-btn .overlay {
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.4s ease-in-out;
  }
  
  .custom-btn:hover .overlay {
    transform: scaleX(1);
    transform-origin: left;
  }
  
  .custom-btn:not(:hover) .overlay {
    transform: scaleX(0);
    transform-origin: right;
  }

  .perspective {
    perspective: 1000px;
  }

  .transform-style-preserve-3d {
    transform-style: preserve-3d;
  }
  
  .backface-hidden {
    backface-visibility: hidden;
  }
  
  .rotate-y-180 {
    transform: rotateY(180deg);
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 2px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #3B82F6; 
    border-radius: 2px;
  }
  
  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #3B82F6 transparent;
  }
